[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teltraining
[access "refs/for/refs/*"]
	read = group user/teltraining
	push = group user/teltraining
	label-Code-Review = -2..+2 group user/teltraining
	label-Verified = -1..+1 group user/teltraining
	rebase = group user/teltraining
	removeReviewer = group user/teltraining
	submit = group user/teltraining
[access "refs/heads/*"]
	read = group user/teltraining
	create = group user/teltraining
	push = +force group user/teltraining
	pushMerge = group user/teltraining
[access "refs/tags/*"]
	push = +force group user/teltraining
	pushTag = group user/teltraining
	pushSignedTag = group user/teltraining
